body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1001;
    background: linear-gradient(180deg, #212529 0%, #212529 5%, #313539);
    overflow-x: hidden;
    transition: width 0.3s;
    padding-top: 60px;
    white-space: nowrap;
}

.sidenav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 1.1rem;
    color: white;
    display: block;
    transition: 0.3s;
    transition: padding-left 0.3s;
}

.sidenav a:hover {
    background: #33363a;
    padding-left: 25px;
    color: white;
}

.sidenav .item {
    position: relative;
    cursor: pointer;
}

.sidenav .item a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 1.1rem;
    color: white;
    display: block;
    transition: padding-left 0.3s;
}

.sidenav .item a:hover {
    background: #33363a;
    padding-left: 25px;
    color: white;
}

.sidenav .menu .item a .dropdown {
    position: absolute;
    right: 0;
    margin: 20px;
    transition: 0.3s ease;
}

.sidenav .sub-menu {
    background: transparent;
    display: none;
}

.rotate {
    transform: rotate(90deg);
    transition: 0.2s ease;
}


#main {
    transition: margin-left 0.3s;
    padding: 16px;
    margin-left: 250px;
}

#horizontalBar {
    transition: margin-left 0.3s;
    margin-left: 250px;
}

#navbar {
    transition: margin-left 0.3s;
    width: 100%;
    /* ocupa toda a largura */
    height: 60px;
    /* altura fixa */
    overflow: hidden;
}

.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

#session {

    color: #a8a4a4;

}


.dropbtn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: .3s;
    border-color: black;
}


.btn-edit {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-color: #3387f4;

}

.btn-edit:hover,
.btn-edit:focus {
    background-color: #3387f4;
    color: #fff !important;
}

.btn-view {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-color: green;

}

.btn-view:hover,
.btn-view:focus {
    background-color: green;
    color: #fff !important;
}

.btn-delete {

    background-color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-color: red;

}

.btn-delete:hover,
.btn-delete:focus {
    background-color: red;
    color: #fff !important;
}

.btn-add {

    height: 30px;
    width: 80px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-color: #3387f4;

}

.btn-add:hover {
    background-color: #2781f7;
    box-shadow: 5px 5px 7px gray;
}

.table td {
    vertical-align: middle !important;
}



@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}