body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #212529;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    margin-left: 3px
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    margin-left: 250px;
}

#horizontalBar {
    transition: margin-left .5s;
    margin-left: 250px;
}

#navbar {
    width: 100%;
    /* ocupa toda a largura */
    height: 70px;
    /* altura fixa */
    overflow: hidden;

}

.dropbtn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: .3s;
    border-color: black;
}

/* Estilos para o container do dropdown */
.dropdown {
    position: relative;
    display: inline-block;
    transition: 0.3s;
}

/* Estilos para o conteúdo do dropdown (escondido por padrão) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #212529 !important;
    ;
    min-width: 160px;
    z-index: 1;

}

.dropdown-content a {
    color: white;
    font-size: 18px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Mudança de cor no hover dos itens do dropdown */
.dropdown-content a:hover {
    margin-left: 3px
}

/* Exibe o conteúdo do dropdown quando ele tem a classe "show" */
.show {
    display: block;
    margin-left: 40px;
}

/* Horizontal Bar */
.navbar {
    width: 100%;
    height: 50px;
    background-color: #111;
    overflow: auto;
}

.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}



.btn-edit {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-color: #3387f4;

}

.btn-edit:hover,
.btn-edit:focus {
    background-color: #3387f4;
    color: #fff !important;
}

.btn-delete {

    background-color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-color: red;

}

.btn-delete:hover,
.btn-delete:focus {
    background-color: red;
    color: #fff !important;
}

.btn-add {

    height: 30px;
    width: 80px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-color: #3387f4;

}

.btn-add:hover {
    background-color: #2781f7;
    box-shadow: 5px 5px 7px gray;
}

.table td {
    vertical-align: middle !important;
}



@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}